@model IEnumerable<HSconnect.Models.Member>

@{
    ViewData["Title"] = "Members";
    Layout = "~/Views/Shared/_Layout_SocialWorker.cshtml";
}

<h1>Members</h1>

<p>
    <a asp-action="CreateReferral">Create New Referral</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.ActionLink("View Charts", "ViewMemberReferrals", new { id = item.Id }) |
                @Html.ActionLink("Edit Member Details", "EditMemberDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete Member", "DeleteMember", new { id = item.Id }) 
            </td>
        </tr>
}
    </tbody>
</table>
