@*@model IEnumerable<MVCCoreIdentityComp.Models.Resources>
@{
    ViewData["Title"] = "Resources";
}

<h1>Status</h1>

<table class ="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.//facility name)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.//category)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.//address)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.//phone number)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.//Restictions)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.//Cost)

            </th>
        </tr>    
                 

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id ="item.Id">Details</a>
                </td>

            </tr>
        }

    </tbody>



</table>*@

