@model HSconnect.Models.Chart

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    @if(Model.ReferralAccepted == null)
    {
    <div class="col-3 text-white">
        <a class="btn-primary active btn-small btn-block" asp-action="DisplayReferrals">View New Referrals</a>
    </div>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceIsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferralAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialWorker.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialWorker.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceOffered.Service.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</table>
