@model HSconnect.Models.ServiceOffered

@{
    ViewData["Title"] = "DisplayServiceOfferedDetails";
    Layout = "~/Views/Shared/_Layout_Provider.cshtml";
}

<h1>Display Service Offered Details</h1>
<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 400px; /* The width is the width of the web page */
    }
</style>
<div class="row">
    <div id="map"></div>
    <script>


        // Initialize and add the map
        function initMap() {    
           
            var coordinates = { lat: @Model.Address.Lat, lng: @Model.Address.Lng };

            var map = new google.maps.Map(document.getElementById('map'), { zoom: 8, center: coordinates });

            var marker = new google.maps.Marker({ position: coordinates, map: map });

        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1EFcPNZaoqx_naYg7PH_PZxWPpHtFt4c&callback=initMap">
    </script>
</div>
<div>
    <h4>Service Offered</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.ProviderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Demographic.IsMale)
        </dt>
        @if (!Model.Demographic.IsMale.HasValue)
        {
            <dd class="col-sm-10">
                Co-Ed
            </dd>
        }
        else if (Model.Demographic.IsMale.Value == true)
        {
            <dd class="col-sm-10">
                Male Only
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Female Only
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Demographic.FamilyFriendly)
        </dt>
        @if (!Model.Demographic.FamilyFriendly.HasValue)
        {
            <dd class="col-sm-10">
                Not Applicable
            </dd>
        }
        else if (Model.Demographic.FamilyFriendly.Value == true)
        {
            <dd class="col-sm-10">
                Family Friendly
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Individual
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Demographic.IsAgeSensitive)
        </dt>
        @if (!Model.Demographic.IsAgeSensitive.HasValue)
        {
            <dd class="col-sm-10">
                Not Applicable
            </dd>
        }
        else if (Model.Demographic.IsAgeSensitive.Value == true)
        {
            <dd class="col-sm-10">
                Above 60
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                18 and Up
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Demographic.SmokingIsAllowed)
        </dt>
        @if (!Model.Demographic.IsMale.HasValue)
        {
            <dd class="col-sm-10">
                Not Applicable
            </dd>
        }
        else if (Model.Demographic.IsMale.Value == false)
        {
            <dd class="col-sm-10">
                No Smoking
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Smoking is Allowed
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditServiceOffered" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
