@model IEnumerable<HSconnect.Models.Chart>
@{
    ViewData["Title"] = "Referrals";
}

<h1>Referrals</h1>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SocialWorker.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialWorker.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialWorker.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialWorker.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member.FirstName)
            </th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SocialWorker.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SocialWorker.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SocialWorker.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SocialWorker.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.FirstName)
                </td>

            </tr>
        }
    </tbody>

</table>
