@model IEnumerable<HSconnect.Models.SocialWorker>
@{
    ViewData["Title"] = "Referrals";
}

<h1>Referrals</h1>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
        </tr>
    </thead>

</table>

