@*@model IEnumerable<MVCCoreIdentityComp.Models.Referrals>
@{
    ViewData["Title"] = "Referrals";
}

<h1>Referrals</h1>

<table class="table">
    <thead>
    <th>
        @Html.DisplayNameFor(model => model.//Organization)

    </th>
    <th>
        @Html.DisplayNameFor(model => model.//social worker's name)

    </th>
    <th>
        @Html.DisplayNameFor(model => model.//social worker's number)

    </th>
    <th>
        @Html.DisplayNameFor(model => model.//social worker's email)

    </th>

    </thead>

    <thead>
    <th>
        @Html.DisplayNameFor(model => model.//members name)
    </th>

    <th>
        @Html.DisplayNameFor(model => model.//Referral Status)
    </th>
    </thead>
</table>*@

